.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 5px solid lightgray;
}
.post-text {
  font-weight: normal;
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-avatar {
  margin-right: 10px;
}

.comment-box {
  display: flex;
  margin-top: 10px;
}

.post-input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.post-btn {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #6082a3;
}
.post-comment {
  padding: 20px;
}
